body {
	background-color: white;
font-family: Arial, Helvetica, sans-serif;
color:navy;
}

h2 {
    background-color: plum;
}

/* div {
    margin: 50px 250px 50px 250px;
    background-color: lightblue
    
} */

.messageInput {
    border: 2px solid black;
    width: 100%;
    height: 200px;
   
} 

.emailInput {
    border: 2px solid black;
    width: 100%;  
}

.nameInput {
    border: 2px solid black;
    width: 100%;  
}

.returnhome {
    height: 100%;
    float: left;
}


.sidenav {
	height: 100%; 
    width: 120px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: rgb(104, 27, 104); 
    overflow-x: hidden; 
	padding-top: 20px;
	float: left;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.mainbody {
	margin: 10px 250px 20px 200px;

    float: center;
    background-color: white;
}

.newcolor{
    background-color: rgb(234, 222, 238);
}