body {
	background-color: oldlace;
font-family: Arial, Helvetica, sans-serif;
color:navy;
}

h1 {
    Background-color: rgb(39, 1, 37);
    color: lavender;
	text-align: justify;
	font: 1000px;
}
.myname{
    float: left;
        margin-right: 10px;
        clear:both; 
}
.Myphoto {
    padding: 7px 20px;
    clear:both; 
        height: 200px;
        float: left;
       width: 150px;
        
       
}

.mybio {
    color: green;
    background-color: white;
    
    padding: 20px;
    float: right; 
    width: 70.00%;
 
  
}

.sidenav {
	height: 100%; 
    width: 120px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: rgb(104, 27, 104); 
    overflow-x: hidden; 
	padding-top: 20px;
	float: left;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.mainbody {
	margin: 10px 250px 20px 200px;
	z-index: 1000;
    float: right;
    background-color: white;
}

   

contactme {
    color: green;
    background-color: white;
    text-align: center;
    padding: 20px;
    float: left; 
  
    
}
/* 
contactlist {
    color: green;
    background-color: white;
    position: fixed;
    padding: 20px;
    float: right; 
    width: 30.00%;
    bottom: 0; 
    right: 0;
 
} */

